.NavContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Base {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  height: 24px;
  border-radius: 41px;
  background-color: rgba(0, 0, 0, 0.2);
  border: solid 1px rgba(255, 255, 255, 0.3);
}